@import "../../variables";

.cards-container {
  box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.22);
  padding: 22px 16px;
  border-radius: 10px;
  width: 270px;
  height: 500px;
  margin: 20px 5px;
}

.title-card {
  color: $preto-color;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}

.old-price {
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}

.add-price {
  color: $preto-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2;
}

.bet-price {
  color: $preto-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.frete-gratis {
  color: $main-color;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.button-buy {
  width: 100%;
  height: 44px;
  flex-shrink: 0;
  border-radius: 4px;
  background: $main-color;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}
