.margin-carousel {
  margin-top: 16px;
}
.container-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.swiper-button {
  background: transparent;
  border: none;
  margin: 0 20px;
}
